<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468217307918-hvi0pvmaji932feva74pbegmotld3h2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468217307918-hvi0pvmaji932feva74pbegmotld3h2r</string>
	<key>API_KEY</key>
	<string>AIzaSyA18wk5C1d30-rlg6AW-p-kAx9j1ttqK_k</string>
	<key>GCM_SENDER_ID</key>
	<string>468217307918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scottcolas.TikTok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-f3092</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-f3092.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:468217307918:ios:8178546e38eab7c40c2d5f</string>
</dict>
</plist>
